.header {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color:black;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


button {
  background: none;
  border: none;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Hide hamburger by default (desktop) */
.hamburger-btn {
  display: none;
}

/* Show hamburger only on mobile (< 768px) */
@media (max-width: 768px) {
  .hamburger-btn {
    display: inline-block;
  }
}
.user-profile img {
  width: 35px;   // adjust as you like
  height: 35px;  // keep square so the image doesn't stretch
  border-radius: 50%; // optional (makes it round)
  object-fit: cover;
}
