  <!-- <div class="profile-modal" *ngIf="isProfileModalOpen">
  <h3>User Profile</h3>

  <div class="profile-info">
    <p><strong>Name:</strong> Anoop</p>
    <p><strong>Role:</strong> Admin</p>
  </div>

  <button class="logout-btn">Logout</button>
  <button class="close-btn" (click)="closeProfileModal()">Close</button>
</div> -->
<div class="profile-modal-wrapper" *ngIf="isOpen" (click)="closeOnOutside($event)">
  
  <div class="profile-modal" (click)="$event.stopPropagation()">
    <h3>User Profile</h3>

    <div class="profile-info">
      <p><strong>Name:</strong> Anoop</p>
      <p><strong>Role:</strong> Admin</p>
    </div>

    <button class="logout-btn">Logout</button>
    <button class="close-btn" (click)="closeProfileModal()">Close</button>
  </div>

</div>
