<div class="dashboard-container">
  <h2 class="dashboard-title">Dashboard</h2>

  <div class="stats-grid">
    <a routerLink="/member" routerLinkActive="active">
      <div class="stat-card">
        <div class="icon bg-yellow">💪</div>
        <div class="info">
          <h3>Active Clients</h3>
          <p>124</p>
        </div>
      </div>
    </a>


    <div class="stat-card">
      <div class="icon bg-black">💰</div>
      <div class="info">
        <h3>Monthly Revenue</h3>
        <p>₹52,000</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="icon bg-yellow">📅</div>
      <div class="info">
        <h3>Renewals This Week</h3>
        <p>8</p>
      </div>
    </div>

    <a routerLink="/coming-soon" routerLinkActive="active">
      <div class="stat-card">
        <div class="icon bg-black">🏋️</div>
        <div class="info">
          <h3>Trainers</h3>
          <p>5</p>
        </div>
      </div>
    </a>
  </div>

  <div class="summary-section">
    <h3>Fee Summary</h3>
    <table>
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Plan</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rahul Nair</td>
          <td>3 Months</td>
          <td>₹4,500</td>
          <td><span class="status paid">Paid</span></td>
        </tr>
        <tr>
          <td>Arun Menon</td>
          <td>1 Month</td>
          <td>₹1,800</td>
          <td><span class="status due">Due</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>