.dashboard-container {
  padding: 35px;
  background-color: #fff;
  min-height: 100vh;
  color: #222;
  font-family: "Poppins", sans-serif;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  display: flex;
  align-items: center;
  background: #fefefe;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-3px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  color: white;
}

.bg-yellow {
  background-color: #f7c600;
}

.bg-black {
  background-color: #000;
}

.info h3 {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-bottom: 4px;
}

.info p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
//table styles
.summary-section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #000;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 13px;
}

.status.paid {
  background-color: #f7c600;
  color: #000;
}

.status.due {
  background-color: #ff4d4d;
  color: #fff;
}
