.dashboard-container {
  padding: 35px;
  background-color: #fff;
  min-height: 100vh;
  color: #222;
  font-family: "Poppins", sans-serif;
}


//table styles
.summary-section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #000;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 13px;
}

.status.paid {
  background-color: #f7c600;
  color: #000;
}

.status.due {
  background-color: #ff4d4d;
  color: #fff;
}