<div class="dashboard-container">
  <div class="summary-section">
    <h3>Fee Summary</h3>

    <!-- Add Member Button -->
    <button class="btn btn-black mb-2 " (click)="openModal()">Add Member</button>

    <table class="table-wrapper">
      <thead>
        <tr>
          <th>ID</th>
          <th>Client Name</th>
          <th>Phone</th>
          <th>gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableData">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.gender}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- MODAL -->
<div class="modal" [class.show]="showModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>

    <h2>Add Member</h2>

    <form>
      <label>Client Name</label>
      <input type="text" placeholder="Enter name">

      <label>Plan</label>
      <select>
        <option>1 Month</option>
        <option>3 Months</option>
        <option>6 Months</option>
      </select>



      <button type="submit" class="submit-btn">Save</button>
    </form>
  </div>
</div>

