.dashboard-container {
  padding: 35px;
  background-color: #fff;
  min-height: 100vh;
  color: #222;
  font-family: "Poppins", sans-serif;
}


//table styles
.summary-section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #000;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 13px;
}

.status.paid {
  background-color: #f7c600;
  color: #000;
}

.status.due {
  background-color: #ff4d4d;
  color: #fff;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Show modal */
.modal.show {
  display: flex;
}

/* Modal box */
.modal-content {
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.submit-btn {
  background: black;
  color: #FFD700;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
