.logo {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #FFD700;
}

.logo span {
  color: #fff;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 1rem 0;
}

.menu a {
  color: #FFD700;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.menu a:hover {
  color: #fff;
  padding-left: 5px;
}
