/* Remove default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make the layout fill the entire viewport */
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}
.row{
      --bs-gutter-x: 0; //remove overlapping of <div class = row> and sidebar

}